* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Open Sans Condensad";
  src: url(../fonts/OpenSans-CondBold.ttf);
  font-weight: 700;
  font-style: normal;
}

:root {
  --bf-openSansCondensad: "Open Sans Condensad";
  --bf-openSans: "Open Sans", sans-serif;
  --bf-black: #222222;
  --bf-red: #de2e54;
  --bf-lightblue: #0eb4c1;
  --bf-white: #ffffff;
}

body {
  width: 100%;
  height: auto;
  font-family: var(--bf-openSans);
  font-weight: 400;
}

/* body end style */
/* ================= container start style ================= */
.container {
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* ================= container end style ================= */
/* ================= header start style ================= */
.header {
}
.link-logo {
  margin-right: 114px;
  display: inline-block;
}
.link-logo img {
  width: 185px;
  height: 49.94px;
}
.link-logo > img.logo-svg:hover {
  color: var(--bf-black);
}
.navbar {
  width: 1110px;
  height: 50px;
  margin: 24px 0px;
  display: flex;
  align-items: center;
}
.nav-list {
  width: 497px;
  height: 21px;
  margin-right: 114.5px;
  padding: 14.47px 0px;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-item {
  margin-right: 32px;
}
.nav-item:last-child {
  margin-right: 0px;
}
.nav-link {
  font-family: var(--bf-openSans);
  font-weight: 700;
  --bf-black: #222222;
  line-height: 150%;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--bf-black);
  transition: all 0.6s ease;
}
.nav-link:hover {
  color: var(--bf-red);
}
.nav-inner-btn {
  padding: 12px 24px;
  background-color: var(--bf-red);
  border: 2px solid var(--bf-red);
  border-radius: 8px;
  color: var(--bf-white);
  font-family: var(--bf-openSansCondensad);
  font-weight: 700;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.6s ease;
}
.nav-inner-btn:hover {
  background-color: transparent;
  border: 2px solid var(--bf-red);
  color: var(--bf-red);
}
.hero {
  height: 533px;
  background-color: var(--bf-lightblue);
}
.header-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-left {
  width: 500px;
  height: 293px;
  margin: 120px 0px;
}
.hero-heading {
  font-family: var(--bf-openSansCondensad);
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: var(--bf-white);
  margin-bottom: 16px;
}
.hero-paragriph {
  font-family: var(--bf-openSans);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 36px;
  color: var(--bf-white);
}
.hero-btn {
  padding: 12px 24px;
  background-color: var(--bf-red);
  border: 2px solid var(--bf-red);
  border-radius: 8px;
  color: var(--bf-white);
  font-family: var(--bf-openSansCondensad);
  font-weight: 700;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}
.hero-right img {
  padding-top: 29px;
  width: 423px;
  height: 504px;
}
/* ================= header end style ================= */
/* main */
.main {
  height: 1486px;
  padding: 120px 0px;
}
.main-subject {
  font-family: var(--bf-openSansCondensad);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 56px;
  color: #000000;
}
.main-group-text{
  width: 864px;
  height: 1040px;
}
.main-card{
  width: 864px;
  height: 200px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-image {
  margin-right: 64px;
 
}
.left-image img{
  width: 200px;
  height: 200px;
  background: transparent;
  box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
}
.right-text{
  width: 600px;
  height: 125px;
}
.main-card-heading{
  font-family: var(--bf-openSansCondensad);
  font-weight: 700;
font-size: 24px;
line-height: 120%;
color: var(--bf-black);
}
.main-card-paragriph{
  font-family: var(--bf-openSans);
  font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #444444;
}